<% provide(:title, @user.name) %>
<h1> My Tasks </h1>
<br/>

<%= link_to new_user_task_path(@user) do %>
    <span class="glyphicon glyphicon-plus"></span>
    New task
<% end %>

<%= form_tag(user_tasks_path(@user), method: "get") do %>
<div class="row">
<div class="col-lg-3">
<div class="input-group add-on">
    <%= text_field_tag(:q, params[:q], placeholder: "Search by tag...", type: "search", class:"form-control", id: "searchinput" ) %>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" onclick="removeInput(this)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
  </div>
  </div>
<% end %>

<%= link_to '#', id: 'sort_tasks_by_ddl' do %>
    <span class="glyphicon glyphicon-sort"></span>
    Sort by deadline
<% end %>
<br>
<% if @tasks.nil? %>
    <h4 class="alert alert-warning">There are no tasks with the tag <%= params[:q] %>.</h4>
<% else %>
<br/>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
          Ongoing tasks: </a><span class="badge"><%= @ongoing_tasks.size %></span>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
<table class= "table table-hover">
  <thead>
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Tag(s)</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ongoing_tasks.each do |task| %>
        <tr>
            <td id="td1"><%= truncate task.title %></td>
            <td id="td3">
              <%= task.deadline.strftime("%Y-%m-%d, %H:%M") if task.deadline.present?%></td>
            <td id="td4">
              <% task.tags.each do |tag| %>
                <%= link_to user_tasks_path(id: task.user.id, :q => tag.tag_name) do %>
                  <span class="badge badge-pill badge-dark"><%= tag.tag_name %></span><br>
                <% end %>
              <% end %>
              <td class="td5"><%= link_to user_task_complete_path(user_id: task.user.id,
                id: task.id), method: :patch do %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>|
              <%= link_to user_task_path(user_id: task.user.id,
                id: task.id) do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %> |
              <%= link_to edit_user_task_path(user_id: task.user.id,
                id: task.id) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %> |
              <%= link_to [task.user, task], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
              </td>
        </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Completed tasks: </a><span class="badge"><%= @completed_tasks.size %></span>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
<table class= "table table-hover">
  <thead>
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Tag(s)</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_tasks.each do |task| %>
        <tr>
            <td id="td1"><%= truncate task.title %></td>
            <td id="td3"><%= task.deadline.strftime("%Y-%m-%d, %H:%M") if task.deadline.present? %></td>
            <td id="td4">
              <% task.tags.each do |tag| %>
              <%= link_to user_tasks_path(id: task.user.id, :q => tag.tag_name) do %>
                  <span class="badge badge-pill badge-dark"><%= tag.tag_name %></span><br>
	      <% end %>
              <% end %>
            </td>
            <td class="td5"><%= link_to user_task_uncomplete_path(user_id: task.user.id,
              id: task.id), method: :patch do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>|
            <%= link_to user_task_path(user_id: task.user.id,
              id: task.id) do %>
              <span class="glyphicon glyphicon-eye-open"></span>
            <% end %> |
            <%= link_to edit_user_task_path(user_id: task.user.id,
              id: task.id) do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %> |
            <%= link_to [task.user, task], method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
              </td>
        </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>
<% end %>

<script>
  function removeInput(elem) {
    $('#searchinput').val('');
    window.location.replace("<%= user_tasks_path(@user) %>");

  }

</script>
